.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
    background-color: initial;
    color: #df4a43
}


.nav-pills>li>a {
    color: #74777c;
}

#admin-menu{
    padding: 0px;
    background-color: floralwhite;
}

#actions>p>a{
    color: #74777c
}

#actions>p>a:hover{
    color: #df4a43;
}
a.active{
    color: #df4a43 !important;
}