.navbar-form, .navbar-left{
    margin-top:35px;
}

.cont-header{
    background-color: #f1f3f6;
    border-top: 1px solid rgba(0,0,0,.05);
}

#list-menu{
    margin-bottom: 0px;
}
.profile-aside{
    background-color: #ECECEC;
    padding-top: 10px;
}
.profile-main>.container-fluid{
    background-color: #E2E2E2;
}
#menu-lateral{
    padding: 0px;
    background-color: #616161;

}
#menu-lateral>li>a{
    color: white;

}